@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-1{
    display: grid;
    grid-template-columns: 1.2fr 8fr;
}
::-webkit-scrollbar {
    width: 5px;
    height: 1px;
  }

::-webkit-scrollbar-track {
    width: 10px !important;
    padding: 0 15px 0 0;
    background: white;
    opacity: 0.5;
    border-radius: 30px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    padding: 10px !important;
  }
  
  ::-webkit-scrollbar-thumb {
    padding: 30px 0px;
    background: #75819e;
    border-radius: 30px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  .text-eleps {
    text-overflow: ellipsis !important; 
  }